body {
    background-color: rgb(100,183,255);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: block;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

button {
    color: white;
    background-color: rgb(0,128,255);
    font-size: 16px;
    padding: 5px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

h2 {
    padding-left: 20px;
}

form {
    border: none;
    padding-left: 15px;
}

.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
}

.main-panel {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
    width: 285px;
    text-align: center;
    margin: 10px auto;
    background-color: white;
    margin-top: 130px;
}

.sign-up {
    width: 200px;
    margin: 20px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid gray;
}

#submit-button {
    margin-top: 0px;
    margin-left: 8px;
    width: 215px;
    font-size: 14px;
}